{% extends 'base.html' %}

{% block content%}
<h1>Tasks</h1>
<ul>
    {% for task in tasks %}
    <a href="{% url 'task_detail' task.id %}">
        {% if task.important %}
        <strong>{{task.title}}</strong>
        {% else %}
        <p>{{task.title}}</p>
        {% endif %}
        <p>{{task.description}}</p>
        <p>{{task.user.username}}</p>
        <p>{{task.important}}</p>
        <p>{{task.created}}</p>
        <p>{{task.datecompleted|date:"d-m-Y"}}</p>
    </a>
    {% endfor %}
</ul>
   
{% endblock %}
