{% extends 'base.html' %}

{% block content %}
<h1 class = "text-center">{{ task.title }}</h1>
<div class = "text-center" class="container mt-4">

    <!-- Mostrar errores -->
    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endif %}

    <!-- Formulario para actualizar la tarea -->
    <form method="POST" class="mb-3">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-primary">
            Actualizar
        </button>
    </form>

    <!-- Formulario para completar la tarea -->
    <form action="{% url 'complete_task' task.id %}" method="POST" class="mb-3">
        {% csrf_token %}
        <button type="submit" class="btn btn-success">
            Completado
        </button>
    </form>

    <!-- Formulario para eliminar la tarea -->
    <form action="{% url 'delete_task' task.id %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">
            Eliminar
        </button>
    </form>

</div>
{% endblock %}
